In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
def select_k_algorithm(X,y,n):
    algorithm=SelectKBest(chi2,k=n)
    fit1=algorithm.fit(X,y)
    result=fit1.transform(X)
    return result

In [3]:
def standarscalar(X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
    sc=StandardScaler()
    X_train=sc.fit_transform(X_train)
    X_test=sc.transform(X_test)
    return X_train,X_test,y_train,y_test

In [4]:
def classification_test(classifier,X_test):
    y_pred=classifier.predict(X_test)
    Confution_Matrix=confusion_matrix(y_test,y_pred)
    Classification_Report=classification_report(y_test,y_pred)
    Accuracy=accuracy_score(y_test,y_pred)
    return classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix

In [5]:
def LR(X_train,y_train,X_test):
    classifier=LogisticRegression(random_state=0)
    classifier.fit(X_train,y_train)
    classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=classification_test(classifier,X_test)
    return classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix

In [6]:
def KNN(X_train,y_train,X_test):
    classifier=KNeighborsClassifier(n_neighbors=5,metric="minkowski",p=2)
    classifier.fit(X_train,y_train)
    classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=classification_test(classifier,X_test)
    return classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix

In [7]:
def SVM(X_train,y_train,X_test):
    classifier=SVC(kernel="linear",random_state=0)
    classifier.fit(X_train,y_train)
    classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=classification_test(classifier,X_test)
    return classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix

In [8]:
def RF(X_train,y_train,X_test):
    classifier=RandomForestClassifier(n_estimators=10,criterion="entropy",random_state=0)
    classifier.fit(X_train,y_train)
    classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=classification_test(classifier,X_test)
    return classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix

In [9]:
def DT(X_train,y_train,X_test):
    classifier=DecisionTreeClassifier(criterion="entropy",random_state=0)
    classifier.fit(X_train,y_train)
    classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=classification_test(classifier,X_test)
    return classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix

In [10]:
df=pd.read_csv("pre-kidney_disease.csv")

In [11]:
df.head()

,Unnamed: 0,id,age,bp,sg,al,su,bgr,bu,sc,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,0,0.0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,...,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
1,1,1.0,7.0,50.0,1.020,4.0,0.0,99.0,18.0,0.8,...,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
2,2,2.0,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,...,normal,notpresent,notpresent,no,yes,no,poor,no,yes,ckd
3,3,3.0,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,...,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,4,4.0,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,...,normal,notpresent,notpresent,no,no,no,good,no,no,ckd

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
from Univariate import Preprocess
quan,qual=Preprocess.QuanQual(df)

In [14]:
quan

['Unnamed: 0',
 'id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wc',
 'rc']

In [15]:
qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [16]:
l=LabelEncoder()
for i in qual:
    df[i]=l.fit_transform(df[i])

In [17]:
df

,Unnamed: 0,id,age,bp,sg,al,su,bgr,bu,sc,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,0,0.0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,...,1,0,0,1,4,1,0,0,0,0
1,1,1.0,7.0,50.0,1.020,4.0,0.0,99.0,18.0,0.8,...,1,0,0,0,3,1,0,0,0,0
2,2,2.0,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,...,1,0,0,0,4,1,1,0,1,0
3,3,3.0,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,...,0,1,0,1,3,1,1,1,1,0
4,4,4.0,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,...,1,0,0,0,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,395.0,55.0,80.0,1.020,0.0,0.0,140.0,49.0,0.5,...,1,0,0,0,3,1,0,0,0,2
396,396,396.0,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.2,...,1,0,0,0,3,1,0,0,0,2
397,397,397.0,12.0,80.0,1.020,0.0,0.0,100.0,26.0,0.6,...,1,0,0,0,3,1,0,0,0,2
398,398,398.0,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.0,...,1,0,0,0,3,1,0,0,0,2
399,399,399.0,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.1,...,1,0,0,0,3,1,0,0,0,2

In [18]:
X=df.drop("classification",axis=1)
y=df["classification"]

In [31]:
select_k=select_k_algorithm(X,y,3)
log=[]
knn=[]
svm1=[]
rf=[]
dt=[]

In [32]:
X_train,X_test,y_train,y_test=standarscalar(select_k,y)

In [33]:
classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=LR(X_train,y_train,X_test)
log.append(Accuracy)
classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=KNN(X_train,y_train,X_test)
knn.append(Accuracy)
classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=SVM(X_train,y_train,X_test)
svm1.append(Accuracy)
classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=RF(X_train,y_train,X_test)
rf.append(Accuracy)
classifier,Accuracy,Classification_Report,X_test,y_test,Confution_Matrix=DT(X_train,y_train,X_test)
dt.append(Accuracy)

C:\Users\Nagendran\AppData\Roaming\Python\Python311\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Nagendran\AppData\Roaming\Python\Python311\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Nagendran\AppData\Roaming\Python\Python311\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [34]:
dataframe=pd.DataFrame(columns=["LR","KNN","SVM","RF","DT"],index=["CHI_SQUARE"])
for i,j in enumerate(dataframe.index):
    dataframe["LR"][j]=log[0]
    dataframe["KNN"][j]=knn[0]
    dataframe["SVM"][j]=svm1[0]
    dataframe["RF"][j]=rf[0]
    dataframe["DT"][j]=dt[0]

In [25]:
#select_k=5
dataframe

                  LR       KNN       SVM        RF        DT
CHI_SQUARE  0.983333  0.983333  0.983333  0.991667  0.983333

In [30]:
#select_k=4
dataframe

                  LR       KNN       SVM        RF        DT
CHI_SQUARE  0.991667  0.991667  0.991667  0.991667  0.983333

In [35]:
#select_k=3
dataframe

                  LR  KNN  SVM        RF        DT
CHI_SQUARE  0.983333  1.0  1.0  0.991667  0.983333